Source: xserver-xorg-video-vesa
Section: x11
Priority: optional
Maintainer: Debian X Strike Force <debian-x@lists.debian.org>
Uploaders: David Nusinow <dnusinow@debian.org>, Branden Robinson <branden@debian.org>, Fabio M. Di Nitto <fabbione@fabbione.net>
Build-Depends: debhelper (>= 5.0.0), pkg-config, xserver-xorg-dev (>= 2:1.2.0), x11proto-xext-dev, x11proto-core-dev, x11proto-fonts-dev, x11proto-randr-dev, x11proto-render-dev
Standards-Version: 3.6.1

Package: xserver-xorg-video-vesa
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ${xserver:Depends}
Provides: ${xviddriver:Provides}
Replaces: xserver-xorg (<< 6.8.2-35), xserver-xorg-driver-vesa
Conflicts: xserver-xorg-driver-vesa
Description: X.Org X server -- VESA display driver
 This driver for the X.Org X server (see xserver-xorg for a further description)
 uses the standard VESA interface provided on all video cards, but runs
 unaccelerated.  This driver is not recommended for use unless you have a
 problem  with the normal driver for your card, because it will peform very
 badly.
 .
 More information about X.Org can be found at:
 <URL:http://xorg.freedesktop.org>
 <URL:http://lists.freedesktop.org/mailman/listinfo/xorg>
 .
 This module can be found as the module 'driver/xf86-video-vesa' at
 :pserver:anoncvs@cvs.freedesktop.org:/cvs/xorg
